:root {
  --main-color: #A5CE8A;
  --secondary-color: #94A389;
  --third-color: #A3797D;
  --fourth-color: #67b5a7;
  --extra-color: #65a15a;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Monserrat', sans-serif;
}

main {
  flex: 1;
}

h2 {
    font-family: Pacifico;
}

.pagination a {
    color: black;
}
.page-link:hover {
    background-color: var(--extra-color);
    color: black;
}

.page-link.active {
    background-color: var(--main-color);
}

/* navigational bar */

#petnavbar .nav-link {
    color: black;
    font-weight: 500;
}
.navbar-brand img {
    max-width: 50px;
    padding-bottom: 15px;
}
.navbar-brand {
    font-family: Pacifico;
    font-size: 2.5em;
    margin-right: 0;
}

/* flash messages */
.flashes h4 {
    line-height: 2;
}
.flash-container {
    background-color: var(--extra-color);
}

/* buttons */
.green-btn {
    background-color: var(--main-color);
}
.del-btn {
    background-color: var(--third-color);
}
.edit-btn {
    background-color: var(--secondary-color);
}
.badge-pill {
    background-color: var(--main-color);
}
.close-btn {
    background-color: #f7f7f7;
}
/* images */
img {
  max-width: 300px;
  height: auto;
}
/* flash messages */
.flashes h4 {
    line-height: 2;
}

/* icons */
.fab {
    color: black;
}

/* containers */
.register-form, .login-form, .profile-container, .main-plants-container {
    margin-top: 4%;
}
.container-footer {
    background-color: var(--main-color);
}
.navbar {
    background-color: var(--main-color);
}
/* register page */
.register-form button {
    margin-top: 5%;
}
.register-form h2 {
    margin-bottom: 5%;
}
.link-blue {
    color: var(--fourth-color);
    font-weight: 800;
}

/* login page */
.login-form button{
    margin-top: 5%;
}
.login-form h2 {
    margin-bottom: 5%;
}

/* profile page */
.profile-container a {
    margin: 2%;
}
.plant-img {
    height: 16rem;
    object-fit: cover
}

.plant-info {
    background-color: rgba(240,252,242,0.2);
    padding: 2%;
}
.link-green {
    color: var(--extra-color);
}
.link-green:hover {
    color: var(--main-color);
}

/* add plant page */

label {
    margin-bottom: 0;
}

.add-plant-form {
    margin-top: 4%;
}

.light-grey-box {
    background-color: rgba(240,252,242,0.2);
    padding: 2%;
}

/* Main plant page */
.index-cards {
    margin-top: 2%;
}
.index-cards .care-info {
    margin-top: 4%;
}

.index-cards h3 {
    margin-top: 10px;
}

/* plant_page */
.plant-page-container h2 {
    margin-top: 20px;
}

#likePlant {
  color: #aab8c2;
  cursor: pointer;
  font-size: 3em;
  align-self: center;  
  transition: color 0.2s ease-in-out;
}

#likePlant:hover {
  color: grey;
}

#likePlant::selection {
  color: none;
  background: transparent;
}

#likePlant::moz-selection {
  color: none;
  background: transparent;
}

#likePlant.fas {
  color: #e2264d;
}

/* footer */
footer {
    margin-top: 4%;
}
.container-footer i {
    font-size: 3em;
    margin: 10% 4% 5%;
}
.container-footer p {
    margin-bottom: 5%;
}

/* error */
.container-error {
    margin-top: 150px;
}

@media only screen and (max-width: 575px) {
    .add-plant-form span{
        font-weight: bold;
    }
    .add-plant-form .label-sm-bold{
        font-weight: bold;
    }
    #likePlant {
        font-size: 2em;
}
}

@media only screen and (max-width: 303px) {
    .footer-icons {
        font-size: 10px;
    }
}