:root {
  --main-color: #65A15A;
  --secondary-color: #94A389;
  --third-color: #A3797D;
}

.navbar a {
    color: black;
}
nav .nav-link {
    color: black;
    font-weight: 600;
    font-size: 1.25rem;
}
/* buttons */
.green-btn {
    background-color: var(--main-color);
}
.del-btn {
    background-color: var(--third-color);
}
.edit-btn {
    background-color: var(--secondary-color);
}
.flashes h4 {
    line-height: 2;
}

.fab {
    color: black;
}

/* register form */

.register-form, .login-form, .profile-container, .main-plants-container {
    margin-top: 4%;
}

/* profile page */
.profile-container a {
    margin: 2%;
}
.plant-info {
    background-color: rgba(240,252,242,0.2);
    padding: 2%;
}

/* add plant page */
.form-group .form-check-inline {
    margin-left: 10%;
}

.add-plant-form {
    margin-top: 4%;
}

.light-grey-box {
    background-color: rgba(240,252,242,0.2);
    padding: 2%;
}

/* Main plant page */
.index-cards {
    margin-top: 4%;
}
.index-cards .care-info {
    margin-top: 4%;
}

.index-cards h3 {
    margin-top: 10px;
}

/* plant_page */
.plant-page-container h2 {
    margin-top: 20px;
}
/* footer */
footer {
    margin-top: 4%;
}