{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Add Plant</h3>

      <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="">
            <div class="row">
                <div class="input-field col m6">
                    <i class="fas fa-book prefix"></i>
                    <input id="plant_latin_name" name="plant_latin_name" minlength="3" 
                        maxlength="50" type="text" class="validate" required>
                    <label for="plant_latin_name">Latin Name</label>
                </div>
                <div class="input-field col m6">
                    <i class="fas fa-leaf prefix"></i>
                    <input id="plant_common_name" name="plant_common_name" minlength="3" 
                        maxlength="50" type="text" class="validate" required>
                    <label for="plant_common_name">Common Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col m6">
                    <div class="row">
                        <div class="col m1">
                            <i class="fas fa-sun prefix"></i>
                        </div>
                        <div class="col m2">
                            <label for="Shade">
                                <input id="Shade" name="lighting" type="radio" class="validate" required/>
                                <span>Shade</span>
                            </label>
                        </div>
                        <div class="col m5">
                            <label for="Indirect Sunlight">
                                <input id="Indirect Sunlight" name="lighting" type="radio" />
                                <span>Indirect Sunlight</span>
                            </label>
                            </div>
                        <div class="col m4">
                            <label for="Full-sun">
                                <input id="Full-sun" name="lighting" type="radio" />
                                <span>Full-sun</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="input-field col m6">
                    <i class="fas fa-shower prefix"></i>
                    <input id="watering" name="watering" type="text" minlength="3" 
                        maxlength="50" class="validate" required>
                    <label for="watering">Watering</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col m4">
                    <div class="switch">
                        <i class="fas fa-skull-crossbones prefix"></i>
                        <label for="toxic">
                            Toxic
                            <input type="checkbox" id="toxic" name="toxic" class="validate">
                            <span class="lever"></span>
                            Yes
                        </label>
                    </div>
                </div>
                <div class="input-field col m4">
                    <i class="fas fa-tint prefix"></i>
                    <input id="humidity" name="humidity" type="text" minlength="3" 
                        maxlength="50" class="validate" required>
                    <label for="humidity">Humidity</label>
                </div>
                <div class="input-field col m4">
                    <i class="fas fa-seedling prefix"></i>
                    <input id="grow_speed" name="grow_speed" type="text" minlength="3" 
                        maxlength="50" class="validate" required>
                    <label for="grow_speed">Grow Speed</label>
                </div>
            </div>
        </form>
    </div>

{% endblock %}