{% extends "base.html" %}
{% block content %}

    <div class="container add-plant-form">
        <h2 class="text-center">Add Plant</h2>
        <div class="row light-grey-box justify-content-center">
            <form class="col-md-11 checkbox-validation" id="" method="POST" action="{{ url_for('add_plant') }}">
                <!-- latin name input -->
                <div class="form-group row">
                    <label class="col-md-3 col-form-label label-sm-bold" for="plant_latin_name">
                        Latin Name:
                    </label>
                    <div class="col-md-9">
                        <input class="form-control" id="plant_latin_name" name="plant_latin_name" minlength="3"
                            maxlength="50" type="text" class="validate" required>
                    </div>
                </div>
                <!-- common name input -->
                <div class="form-group row">
                    <label class="col-md-3 col-form-label label-sm-bold" for="plant_common_name">
                        Common Name:
                    </label>
                    <div class="col-md-9">
                        <input class="form-control" id="plant_common_name" name="plant_common_name" minlength="3"
                            maxlength="50" type="text" required>
                    </div>
                </div>
                <!-- plant image url -->
                <div class="form-group row">
                    <label class="col-md-3 col-form-label label-sm-bold" for="plant_image">
                        Image URL:
                    </label>
                    <div class="col-md-9">
                        <input class="form-control" type="url" name="plant_image" id="plant_image"
                            required>
                    </div>
                </div>
                <!-- lighting radios -->
                <div class="form-group row">
                    <div class="col-sm-3">
                        <span>Lighting:</span>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-check form-check-inline">
                            <input id="Shade" name="lighting" value="Shade" type="radio" required />
                            <label for="Shade">
                                Shade
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input id="Indirect Sunlight" name="lighting" value="Indirect Sunlight" type="radio" />
                            <label for="Indirect Sunlight">
                                Indirect Sunlight
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input id="Full-sun" name="lighting" value="Full-sun" type="radio" />
                            <label for="Full-sun">
                                Full-sun
                            </label>
                        </div>
                    </div>
                </div>
                <!-- watering radios -->
                <div class="form-group row">
                    <div class="col-sm-3">
                        <span>Watering:</span>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-check form-check-inline">
                            <input id="When Completely Dry" name="watering" value="When Completely Dry" type="radio" />
                            <label for="When Completely Dry">
                                When Completely Dry
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input id="Once a Week" name="watering" value="Once a Week" type="radio" required />
                            <label for="Once a Week">
                                Once a Week
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input id="Keep Moist" name="watering" value="Keep Moist" type="radio" />
                            <label for="Keep Moist">
                                Keep Moist
                            </label>
                        </div>
                    </div>
                </div>
                <!-- grow speed -->
                <div class="form-group row">
                    <div class="col-sm-3">
                        <span>Grow Speed:</span>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-check form-check-inline">
                            <input id="Slow" name="grow_speed" value="Slow" type="radio" />
                            <label for="Slow">
                                Slow
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input id="Medium" name="grow_speed" value="Medium" type="radio" required />
                            <label for="Medium">
                                Medium
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input id="Fast" name="grow_speed" value="Fast" type="radio" />
                            <label for="Fast">
                                Fast
                            </label>
                        </div>
                    </div>
                </div>
                <!-- care -->
                <div class="form-group row">
                    <div class="col-sm-3">
                        <span>Care:</span>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-check form-check-inline">
                            <input id="Unkillable" name="care" value="Unkillable" type="radio" />
                            <label for="Unkillable">
                                Unkillable
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input id="Easy Going" name="care" value="Easy Going" type="radio" required />
                            <label for="Easy Going">
                                Easy Going
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input id="Fussy" name="care" value="Fussy" type="radio" />
                            <label for="Fussy">
                                Fussy
                            </label>
                        </div>
                    </div>
                </div>
                <!-- suitable for -->
                <div class="form-group row">
                    <div class="col-sm-3">
                        <span class="suitable-for">Suitable For:</span>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-check form-check-inline">
                            <input id="Bathroom" name="suitable_for" value="Bathroom" type="checkbox" />
                            <label for="Bathroom">
                                Bathroom
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input id="Bedroom" name="suitable_for" value="Bedroom" type="checkbox" />
                            <label for="Bedroom">
                                Bedroom
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input id="Living Room" name="suitable_for" value="Living Room" type="checkbox" />
                            <label for="Living Room">
                                Living Room
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input id="Small Spaces" name="suitable_for" value="Small Spaces" type="checkbox" />
                            <label for="Small Spaces">
                                Small Spaces
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input id="Hanging Planters" name="suitable_for" value="Hanging Planters" type="checkbox" />
                            <label for="Hanging Planters">
                                Hanging Planters
                            </label>
                        </div>
                    </div>
                </div>
                <!-- toxic toggle -->
                <div class="form-group row">
                    <div class="col-3">
                        <span>Toxic:</span>
                    </div>
                    <div class="col-8">
                        <div class="custom-control custom-switch custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="toxic" name="toxic">
                            <label class="custom-control-label" for="toxic">
                                Yes
                            </label>
                        </div>
                    </div>
                </div>
                <!-- humidity toggle -->
                <div class="form-group row">
                    <div class="col-3">
                        <span>Humidity:</span>
                    </div>
                    <div class="col-8">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="humidity" name="humidity">
                            <label class="custom-control-label col-sm-6" for="humidity">
                                Yes, please
                            </label>
                        </div>
                    </div>
                </div>
            <!-- submit -->
                <div class="row">
                    <div class="col-12 text-center">
                        <a class="btn btn-delete" href="{{ url_for('profile', username=session['user']) }}">Cancel</a>
                        <button type="submit" class="btn btn-green">
                            Add Plant <i class="fas fa-plus-square right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}