{% extends "base.html" %}
{% block content %}

    <div class="container add-plant-form">
        <h3 class="text-center">Add Plant</h3>
        <div class="row light-grey-box justify-content-center">
            <form class="col-md-11" method="POST" action="{{ url_for('add_plant') }}">
                <div class="form-group row">
                    <!-- latin name input -->
                    <label class="col-sm-2 col-form-label" for="plant_latin_name">
                        Latin Name
                    </label>
                    <div class="col-sm-4">
                        <input class="form-control" id="plant_latin_name" name="plant_latin_name" minlength="3"
                            maxlength="50" type="text" class="validate" required>
                    </div>
                    <!-- common name input -->
                    <label class="col-sm-2 col-form-label" for="plant_common_name">
                        Common Name
                    </label>
                    <div class="col-sm-4">
                        <input class="form-control" id="plant_common_name" name="plant_common_name" minlength="3"
                            maxlength="50" type="text" required>
                    </div>
                </div>
                <div class="form-group row">
                    <!-- plant image url -->
                    <label class="col-sm-2 col-form-label" for="plant_image">
                        Image URL <i class="fas fa-image prefix"></i>
                    </label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="plant_image" id="plant_image" maxlength="50"
                            required>
                    </div>
                </div>
                <!-- lighting radios -->
                <div class="form-group row">
                    <div class="col-2">
                        <span>Lighting <i class="fas fa-sun prefix"></i></span>
                    </div>
                    <div class="col-10 text-justify">
                        <div class="form-check form-check-inline">
                            <input id="Shade" name="lighting" value="Shade" type="radio" required />
                            <label for="Shade">
                                Shade
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input id="Indirect Sunlight" name="lighting" value="Indirect Sunlight" type="radio" />
                            <label for="Indirect Sunlight">
                                Indirect Sunlight
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input id="Full-sun" name="lighting" value="Full-sun" type="radio" />
                            <label for="Full-sun">
                                Full-sun
                            </label>
                        </div>
                    </div>
                </div>
                <!-- water range -->
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="watering">
                        Watering <i class="fas fa-shower prefix"></i>
                    </label>
                    <div class="col-sm-10">
                        <input type="range" class="custom-range" id="watering" name="watering" min="1" max="5" step="1"
                            Required />
                    </div>
                </div>
                <div class="form-group row">
                    <!-- toxic toggle -->
                    <div class="col-2">
                        <span>Toxic <i class="fas fa-skull-crossbones prefix"></i></span>
                    </div>
                    <div class="col-4">
                        <div class="custom-control custom-switch custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="toxic" name="toxic">
                            <label class="custom-control-label" for="toxic">
                                Yes
                            </label>
                        </div>
                    </div>
                    <!-- humidity toggle -->
                    <div class="col-2">
                        <span>Humidity <i class="fas fa-tint prefix"></i></span>
                    </div>
                    <div class="col-4">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="humidity" name="humidity">
                            <label class="custom-control-label col-sm-6" for="humidity">
                                Yes, please
                            </label>
                        </div>
                    </div>
                </div>
                <!-- grow speed -->
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="grow_speed">
                        Grow Speed <i class="fas fa-seedling prefix"></i>
                    </label>
                    <div class="col-sm-10">
                        <input class="form-control" id="grow_speed" name="grow_speed" type="text" minlength="3"
                            maxlength="50" class="validate" required>
                    </div>
                </div>
            <!-- submit -->
                <div class="row">
                    <div class="col-12 text-center">
                        <button type="submit" class="btn green-btn">
                            Add Plant <i class="fas fa-plus-square right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}