{% extends "base.html" %}
{% block content %}

    <div class="container add-plant-form">
        <h2 class="text-center">Edit Plant</h2>
        <div class="row light-grey-box justify-content-center">
            <form class="col-md-11 checkbox-validation" method="POST" action="{{ url_for('edit_plant', plant_id=plant._id) }}">
                <div class="form-group row">
                    <!-- latin name input -->
                    <label class="col-md-3 col-form-label label-sm-bold" for="plant_latin_name">
                        Latin Name:
                    </label>
                    <div class="col-md-9">
                        <input class="form-control" id="plant_latin_name" name="plant_latin_name" minlength="3"
                            value="{{ plant.plant_latin_name }}" maxlength="50" type="text" class="validate" required>
                    </div>
                </div>
                    <!-- common name input -->
                <div class="form-group row">
                    <label class="col-md-3 col-form-label label-sm-bold" for="plant_common_name">
                        Common Name:
                    </label>
                    <div class="col-md-9">
                        <input class="form-control" id="plant_common_name" name="plant_common_name" minlength="3"
                            value="{{ plant.plant_common_name }}" maxlength="50" type="text" required>
                    </div>
                </div>
                <div class="form-group row">
                    <!-- plant image url -->
                    <label class="col-md-3 col-form-label label-sm-bold" for="plant_image">
                        Image URL:
                    </label>
                    <div class="col-md-9">
                        <input class="form-control" type="url" name="plant_image" 
                            value="{{ plant.plant_image }}" id="plant_image" required>
                    </div>
                </div>
                <!-- lighting radios -->
                <div class="form-group row">
                    <div class="col-sm-3">
                        <span>Lighting: </span>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-check form-check-inline">
                            {% if plant.lighting == "Shade" %}
                                <input id="Shade" name="lighting" value="Shade" type="radio" required checked />
                            {% else %}
                                <input id="Shade" name="lighting" value="Shade" type="radio" required />
                            {% endif %}
                            <label for="Shade">
                                Shade
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            {% if plant.lighting == "Indirect Sunlight" %}
                                <input id="Indirect Sunlight" name="lighting" value="Indirect Sunlight" type="radio" checked />
                            {% else %}
                                <input id="Indirect Sunlight" name="lighting" value="Indirect Sunlight" type="radio" />
                            {% endif %}
                            <label for="Indirect Sunlight">
                                Indirect Sunlight
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            {% if plant.lighting == "Full-sun" %}
                                <input id="Full-sun" name="lighting" value="Full-sun" type="radio" checked />
                            {% else %}
                                <input id="Full-sun" name="lighting" value="Full-sun" type="radio" />
                            {% endif %}
                            <label for="Full-sun">
                                Full-sun
                            </label>
                        </div>
                    </div>
                </div>
                <!-- water radios -->
                <div class="form-group row">
                    <div class="col-sm-3">
                        <span>Watering:</span>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-check form-check-inline">
                            {% if plant.watering == "When Completely Dry" %}
                                <input id="When Completely Dry" name="watering" value="When Completely Dry" type="radio" checked/>
                            {% else %}
                                <input id="When Completely Dry" name="watering" value="When Completely Dry" type="radio" />
                            {% endif %}
                            <label for="When Completely Dry">
                                When Completely Dry
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            {% if plant.watering == "Once a Week" %}
                                <input id="Once a Week" name="watering" value="Once a Week" type="radio" required checked/>
                            {% else %}
                                <input id="Once a Week" name="watering" value="Once a Week" type="radio" required />
                            {% endif %}
                            <label for="Once a Week">
                                Once a Week
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            {% if plant.watering == "Keep Moist" %}
                                <input id="Keep Moist" name="watering" value="Keep Moist" type="radio" checked/>
                            {% else %}
                                <input id="Keep Moist" name="watering" value="Keep Moist" type="radio" />
                            {% endif %}
                            <label for="Keep Moist">
                                Keep Moist
                            </label>
                        </div>
                    </div>
                </div>
                <!-- grow speed -->
                <div class="form-group row">
                    <div class="col-sm-3">
                        <span>Grow Speed:</span>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-check form-check-inline">
                            {% if plant.grow_speed == "Slow" %}
                                <input id="Slow" name="grow_speed" value="Slow" type="radio" checked/>
                            {% else %}
                                <input id="Slow" name="grow_speed" value="Slow" type="radio" />
                            {% endif %}
                            <label for="Slow">
                                Slow
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            {% if plant.grow_speed == "Medium" %}
                                <input id="Medium" name="grow_speed" value="Medium" type="radio" required checked/>
                            {% else %}
                                <input id="Medium" name="grow_speed" value="Medium" type="radio" required />
                            {% endif %}
                            <label for="Medium">
                                Medium
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            {% if plant.grow_speed == "Fast" %}
                                <input id="Fast" name="grow_speed" value="Fast" type="radio" checked/>
                            {% else %}
                                <input id="Fast" name="grow_speed" value="Fast" type="radio" />
                            {% endif %}
                            <label for="Fast">
                                Fast
                            </label>
                        </div>
                    </div>
                </div>
                <!-- care -->
                <div class="form-group row">
                    <div class="col-sm-3">
                        <span>Care:</span>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-check form-check-inline">
                            {% if plant.care == "Unkillable" %}
                                <input id="Unkillable" name="care" value="Unkillable" type="radio" checked/>
                            {% else %}
                                <input id="Unkillable" name="care" value="Unkillable" type="radio" />
                            {% endif %}
                            <label for="Unkillable">
                                Unkillable
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            {% if plant.care == "Easy Going" %}
                                <input id="Easy Going" name="care" value="Easy Going" type="radio" required checked/>
                            {% else %}
                                <input id="Easy Going" name="care" value="Easy Going" type="radio" required />
                            {% endif %}
                            <label for="Easy Going">
                                Easy Going
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            {% if plant.care == "Fussy" %}
                                <input id="Fussy" name="care" value="Fussy" type="radio" checked/>
                            {% else %}
                                <input id="Fussy" name="care" value="Fussy" type="radio" />
                            {% endif %}
                            <label for="Fussy">
                                Fussy
                            </label>
                        </div>
                    </div>
                </div>
                <!-- suitable for -->
                <div class="form-group row">
                    <div class="col-sm-3">
                        <span class="suitable-for">Suitable For:</span>
                    </div>
                    <div class="col-sm-9">
                        <div class="form-check form-check-inline">
                            {% if "Bathroom" is in plant.suitable_for %}
                                <input id="Bathroom" name="suitable_for" value="Bathroom" type="checkbox" checked/>
                            {% else %}
                                <input id="Bathroom" name="suitable_for" value="Bathroom" type="checkbox" />
                            {% endif %}
                            <label for="Bathroom">
                                Bathroom
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            {% if "Bedroom" is in plant.suitable_for %}
                                <input id="Bedroom" name="suitable_for" value="Bedroom" type="checkbox" checked/>
                            {% else %}
                                <input id="Bedroom" name="suitable_for" value="Bedroom" type="checkbox"/>
                            {% endif %}
                            <label for="Bedroom">
                                Bedroom
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            {% if "Living Room" is in plant.suitable_for %}
                                <input id="Living Room" name="suitable_for" value="Living Room" type="checkbox" checked/>
                            {% else %}
                                <input id="Living Room" name="suitable_for" value="Living Room" type="checkbox" />
                            {% endif %}
                            <label for="Living Room">
                                Living Room
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            {% if "Small Spaces" is in plant.suitable_for %}
                                <input id="Small Spaces" name="suitable_for" value="Small Spaces" type="checkbox" checked/>
                            {% else %}
                                <input id="Small Spaces" name="suitable_for" value="Small Spaces" type="checkbox" />
                            {% endif %}
                            <label for="Small Spaces">
                                Small Spaces
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            {% if "Hanging Planters" is in plant.suitable_for %}
                                <input id="Hanging Planters" name="suitable_for" value="Hanging Planters" type="checkbox" checked/>
                            {% else %}
                                <input id="Hanging Planters" name="suitable_for" value="Hanging Planters" type="checkbox" />
                            {% endif %}
                            <label for="Hanging Planters">
                                Hanging Planters
                            </label>
                        </div>
                    </div>
                </div>
                <!-- toxic toggle -->
                <div class="form-group row">
                    <div class="col-3">
                        <span>Toxic:</span>
                    </div>
                    <div class="col-8">
                        <div class="custom-control custom-switch custom-control-inline">
                            {% if plant.toxic == "Yes" %}
                                <input type="checkbox" class="custom-control-input" id="toxic" name="toxic" checked>
                            {% else %}
                                <input type="checkbox" class="custom-control-input" id="toxic" name="toxic">
                            {% endif %}
                            <label class="custom-control-label" for="toxic">
                                Yes
                            </label>
                        </div>
                    </div>
                </div>
                <!-- humidity toggle -->
                <div class="form-group row">
                    <div class="col-3">
                        <span>Humidity:</span>
                    </div>
                    <div class="col-8">
                        <div class="custom-control custom-switch">
                            {% if plant.humidity == "Yes, please" %}
                            <input type="checkbox" class="custom-control-input" id="humidity" name="humidity" checked>
                            {% else %}
                            <input type="checkbox" class="custom-control-input" id="humidity" name="humidity">
                            {% endif %}
                            <label class="custom-control-label col-sm-6" for="humidity">
                                Yes, please
                            </label>
                        </div>
                    </div>
                </div>
            <!-- submit -->
                <div class="row">
                    <div class="col-12 text-center">
                        <a class="btn btn-delete" href="{{ url_for('profile', username=session['user']) }}">Cancel</a>
                        <button type="submit" class="btn btn-green">
                            Edit Plant <i class="far fa-edit"></i></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}