{% extends "base.html" %}
{% block content %}

    <div class="container profile-container">
        <!-- header -->
        <h2 class="text-center text-capitalize">
            Welcome {{ username }},
        </h2>
        <h3 class="text-center">here is your plant page!</h3>
        <div class="row">
            <!-- add plant button -->
            <div class="col-12 text-center">
                <a href="{{ url_for('add_plant') }}" class="btn btn-light-green>
                    Add Plant <i class="fas fa-plus-square right"></i>
                </a>
            </div>
        </div>
    </div>

    {% if plants|length > 0 %}
    <!-- sort plants dropdown -->
    <form class="box-light-grey" method="POST" action="{{ url_for('sort') }}">
        <div class="form-row align-items-center align-self-end">
            <div class="col-auto">
                <label class="sr-only" for="sorted_by">Sort by:</label>
                <select id="sorted_by" name="sorted_by" class="form-control form-control-sm" 
                    placeholder="Sort By" aria-label="Sort by">
                    <option label=" "></option>
                    <option value="plant_latin_name">Plant Latin Name</option>
                    <option value="plant_common_name">Plant Common Name</option>
                </select>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-dark-green btn-sm">
                    Sort <i class="fas fa-sort"></i>
                </button>
            </div>
        </div>
    </form>
    <div class="container index-cards box-light-grey">
        <div class="row">
            <!-- loop to through plants -->
            {% for plant in plants%}
                    <!-- individual plant card -->
                    <div class="col-sm-6 col-lg-4 text-center">
                        <div class="card">
                                <img class="card-img-top plant-img img-fluid" 
                                    src="{{ plant.plant_image }}" 
                                    alt="User submitted image of {{ plant.plant_latin_name }}" 
                                    onerror="this.onerror=null;this.src='/static/images/backup_image.jpg';">
                            <div class="card-header">
                                <h5 class="card-title text-capitalize">
                                    <a class="link-green" href="{{ url_for('plant_page', plant_id=plant._id) }}">
                                        {{ plant.plant_latin_name }}
                                    </a>
                                </h5>
                                <h6 class="card-subtitle mb-2 text-muted text-capitalize">
                                    {{ plant.plant_common_name }}
                                </h6>
                            </div>
                            <div class="card-body">
                                <h6 class="card-text"><strong>Care Information</strong></h6>
                                <p class="card-text"><b>Lighting:</b> {{ plant.lighting }}</p>
                                <p class="card-text"><b>Watering:</b> {{ plant.watering }}</p>
                                <p class="card-text"><b>Grow Speed:</b> {{ plant.grow_speed }}</p>
                                <p class="card-text"><b>Care:</b> {{ plant.care }}</p>
                                <p class="card-text"> <b>Suitable For:</b>
                                    <!-- loop to loop through suitable_for options -->
                                    {% for room in plant.suitable_for %}
                                        <span class="badge badge-pill badge-light-green"> {{ room }}</span> 
                                    {% endfor %}
                                <p class="card-text"><b>Toxic:</b> {{ plant.toxic }}</p>
                                <p class="card-text"><b>Humidity:</b> {{ plant.humidity }}</p>
                                <div class="card-action">
                                    <a href="{{ url_for('edit_plant', plant_id=plant._id) }}" 
                                        class="btn btn-dark-green btn-sm">Edit <i class="far fa-edit"></i>
                                    </a>
                                    <button type="button" class="btn btn-red btn-sm" data-toggle="modal" 
                                        data-target="#delete-modal" 
                                        data-url="{{ url_for('delete_plant', plant_id=plant._id) }}">
                                            Delete <i class="far fa-trash-alt"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>        
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock%}