{% extends "base.html" %}
{% block content %}

    <div class="container-fluid no-gutters search-plant-form">
        <div class="row justify-content-center">
            <form class="col-12 light-grey-box" method="POST" action="{{ url_for('search') }}">
                <h2 class="text-center">Search Plants</h2>
                <!-- Plant name search (both latin & common) -->
                <div class="form-group row text-center justify-content-center">
                    <label class="col-sm-3 col-form-label" for="plant_name">
                        Plant Name:
                    </label>
                    <div class="col-sm-3">
                        <input id="plant_name" name="plant_name" minlength="2"
                            maxlength="50" type="text" class="validate">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <!-- lighting search -->
                    <div class="form-group">
                        <label for="lighting">Lighting</label>
                        <select id="lighting" name="lighting" class="form-control">
                            <option></option>
                            <option>Shade</option>
                            <option>Indirect Sunlight</option>
                            <option>Full-sun</option>
                        </select>
                    </div>
                    <!-- care search -->
                    <div class="form-group">
                        <label for="care">Care</label>
                        <select id="care" name="care" class="form-control">
                            <option></option>
                            <option>Unkillable</option>
                            <option>Easy Going</option>
                            <option>Fussy</option>
                        </select>
                    </div>
                    <!-- toxic search -->
                    <div class="form-group">
                        <label for="toxic">Toxic:</label>
                        <select id="toxic" name="toxic" class="form-control">
                            <option></option>
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <!-- reset search -->
                    <div class="col text-center">
                        <a href="{{ url_for('search') }}" class="btn del-btn">
                            Reset
                        </a>
                    <!-- submit button -->
                        <button type="submit" class="btn green-btn">
                            Search <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container light-grey-box">
        <h2 class="text-center">Results</h2>      
            <div class="row index-cards"> 
                {% for plant in plants %}
                    <div class="col-sm-6 col-md-4 col-lg-3 text-center">
                        <div class="card">
                            <img src="{{ plant.plant_image }}" class="card-img-top plant-img img-fluid" alt="user submited image of plant">
                            <div class="card-header">
                                <h5 class="card-title text-capitalize"><a class="link-green" href="{{ url_for('plant_page', plant_id=plant._id) }}">{{ plant.plant_latin_name }}</a></h5>
                                <h6 class="card-subtitle mb-2 text-muted text-capitalize">{{ plant.plant_common_name }}</h6>
                            </div>
                            <div class="card-body">
                                <h5 class="card-text"><strong> Care Information</strong></h5>
                                <p class="card-text"><b>Lighting:</b> {{ plant.lighting }}</p>
                                <p class="card-text"><b>Watering:</b> {{ plant.watering }}</p>
                                <p class="card-text"><b>Grow Speed:</b> {{ plant.grow_speed }}</p>
                                <p class="card-text"><b>Care:</b> {{ plant.care }}</p>
                                <p class="card-text"><b>Suitable For:</b> 
                                    {% for room in plant.suitable_for %}
                                        <a href="" class="badge badge-pill badge-secondary"> {{ room }}</a> 
                                    {% endfor %}
                                </p>
                                <p class="card-text"><b>Toxic:</b> {{ plant.toxic }}</p>
                                <p class="card-text"><b>Humidity:</b> {{ plant.humidity }}</p>
                                <p class="card-text text-capitalize"><em>Created by: {{ plant.created_by }}</em></p>
                                {% if session.user|lower == plant.created_by|lower %}
                                    <a href="{{ url_for('edit_plant', plant_id=plant._id) }}" class="btn edit-btn">Edit</a>
                                    <a href="{{ url_for('delete_plant', plant_id=plant._id) }}" class="btn del-btn" >Delete</a>
                                {% endif %}
                            </div>    
                        </div>
                    </div>
                {% endfor %}
            </div>
    </div>
        
    <!-- pagination -->
        {% if search == False %}
            <nav aria-label="page navigation">
                <ul class="pagination justify-content-center">
                    {% for i in range(0, count) %} 
                        <li class="page-item">
                            {% if i+1 == page %}
                            <a class="page-link active">
                            {% else %}
                            <a class="page-link" href="{{ url_for('search', page=i+1) }}">
                            {% endif %}
                            {{ i + 1  }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        {% endif %}
    
{% endblock %}